# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon
# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

.metadata/
RemoteSystemsTempFiles/
Servers/
android-support-v7-appcompat/bin/
android-support-v7-appcompat/gen/
android-support-v7-cardview/bin/
android-support-v7-cardview/gen/
android-support-v7-gridlayout/bin/
android-support-v7-gridlayout/gen/
android-support-v7-mediarouter/bin/
android-support-v7-mediarouter/gen/
android-support-v7-palette/bin/
android-support-v7-palette/gen/
android-support-v7-recyclerview/bin/
android-support-v7-recyclerview/gen/
ASNECore/bin/
ASNECore/gen/
ASNEFacebook/gen/
ASNEFacebook/bin/
ASNEGooglePlus/gen/
ASNEGooglePlus/bin/
ASNEInstagram/gen/
ASNEInstagram/bin/
ASNETwitter/gen/
ASNETwitter/bin/
BitmapHandler-master/gen/
BitmapHandler-master/bin/
google-play-services_lib/gen/
google-play-services_lib/bin/
MaterialDesign/gen/
MaterialDesign/bin/
MaterialDesignDemo/gen/
MaterialDesignDemo/bin/
MaterialNavigationDrawer/gen/
MaterialNavigationDrawer/bin/
MaterialNavigationDrawerLibrery/gen/
MaterialNavigationDrawerLibrery/bin/
Skeleton/gen/
Skeleton/bin/
StackBlur/gen/
StackBlur/bin/
StackBlurDemo/gen/
StackBlurDemo/bin/
TAssignment1/gen/
TAssignment1/bin/
android-ui/gen/
android-ui/bin/
Facebook-SDK/bin/
Facebook-SDK/gen/
*.properties